# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: Apache-2.0

if BOARD_BBCASE

config BOARD
	default "bbcase"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_BBCASE
